<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="mySidenav" class="sidenav">
  <i class="material-icons sidenavIcon" style="font-size:68px; color:black;margin:30%;">home</i>
  <div>
    <a (click)="showDashboard()"><i class="material-icons">devices</i>Dashboard</a>
    <a (click)="showCustomers()"><i class="material-icons">people</i> Customers</a>
    <a (click)="addProducts()"><i class="material-icons">watch</i> Manage Products</a>
    <a (click)="showRevenue()"><i class="material-icons">next_week</i> Revenue </a>
    <a (click)="showIssues()"><i class="material-icons">extension</i> Current Issues </a>
    <a (click)="showNotification()"><i class="material-icons">notifications</i>Notifications </a>
    <a (click)="showReports()"><i class="material-icons">bug_report</i>Bug reports </a>

  </div>
</div>
<div id="main">
  <header>
    <nav class="navbar navbar-light bg-light mb-5">
      <a class="navbar-brand" (click)="toogleNav()" style="color:black; cursor:pointer;"><i class="material-icons">arrow_back</i></a>
      <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
          <a class="nav-item nav-link " href="/home">Home</a>
          <a class="nav-item nav-link" href="/new">New</a>
          <a class="nav-item nav-link" (click)="showOrder()">Orders</a>
        </div>
      </div>
      <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" (click)="showSetting()">Settings</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="showStats()">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <h2 class="alert alert-info" style="margin-left:10px;text-align:center" > Admin Dashboad</h2>
  <body class="jumbotron">
    <router-outlet> </router-outlet>
    <app-orders> </app-orders>
  </body>
</div>
